<p id="notice"><%= notice %></p>

<p>
  <b>Ordered at:</b>
  <%= @order.ordered_at %>
</p>

<p>
  <b>Vat:</b>
  <%= @order.vat %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
